body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    margin: 0;
    padding: 0 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Додаємо відступ від заголовка */
}

.avatar-container, .form-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    margin-top: 20px;
    text-align: center;
}

.avatar-container img {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
}

.signin-container {
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 320px) {
    .signin-container input,
    .signin-container button {
        width: calc(100% - 16px);
        margin: 8px;
    }
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}
